<h1 mat-dialog-title>{{ heading }}</h1>
<div mat-dialog-content>
    <form [formGroup] = "formValue">
        <mat-form-field appearance="outline">
            <mat-label>Datum transporta</mat-label>
            <input formControlName = "datumt" matInput [matDatepicker]="datumt">
            <mat-datepicker-toggle matSuffix [for]="datumt"></mat-datepicker-toggle>
            <mat-datepicker #datumt></mat-datepicker>
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lokacija</mat-label>
            <input formControlName = "lokacija" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Vrsta transporta</mat-label>
            <mat-select formControlName = "vrstatransporta">
                <mat-option *ngFor="let vrsta of vrsteTransporta" [value] = "vrsta.vrstatransportaid">
                    {{ vrsta.nazivvt }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button  color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button  style="margin-left: 8px;" color="primary" (click) = "addTransport()">{{actionBtn}}</button>
</div>