<h1 mat-dialog-title>{{ heading }}</h1>
<div mat-dialog-content>
    <form [formGroup] = "formValue">
        <mat-form-field appearance="outline">
            <mat-label>Oznaka skladista</mat-label>
            <input formControlName = "oznakas" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Mesto skladista</mat-label>
            <mat-select formControlName = "mesto">
                <mat-option *ngFor="let m of mesta" [value] = "m.mestoid">
                    {{ m.nazivm }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Radnik skladista</mat-label>
            <mat-select formControlName = "radnik">
                <mat-option *ngFor="let r of radnika" [value] = "r.radnikid">
                    {{ r.ime }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Sastojci skladista</mat-label>
            <mat-select formControlName = "sastojci">
                <mat-option *ngFor="let s of sastojaka" [value] = "s.sastojciid">
                    {{ s.nazivs }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button  color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button  style="margin-left: 8px;" color="primary" (click) = "addSkladiste()">{{actionBtn}}</button>
</div>